.sobre{
    margin: 100px auto;
    p{
   
        text-align: start;
        width: 60%;
        margin: auto;
        font-family: "Inter", sans-serif;
        font-weight: lighter;
        line-height: 38px;
    }
    

} 