.contact{
    text-align: center;
    background-color: $primaryColor;
    height: 23vh;
    padding: 19px;
    h3,h4{
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 30px;
        margin: 30px auto;
        font-weight: lighter;
    }
}