footer{
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}
.nome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 100px auto;
    
    h2, h3{
        font-family: 'Julius Sans One', sans-serif;
        font-weight: lighter;
        font-size: 30px;
    }
    
}